*
{
    margin: auto;
}
.outerCont
{
    width: 90%;
    background-color: red;
    margin-top: 32px;
}
.links
{
    text-align: center;
}
.InnerCont
{
    width: 70%;
    background-color: green;
}
.LOGO-LINK
{
    width: 28px;
    height: 28px;
    border-radius: 22px;
    padding-top: 8px;
}
a
{
    text-decoration: none;
    color: black;
}
span
{
    padding-top: 0px;
}